@import "Variables/variables.scss";
@import "Mixins/mixins.scss";

body, html {
    height: 100%;
    margin: 0px; 
    font-family: 'Open Sans', sans-serif !important;
}

p {
    font-size: 1.4em;
}


.bg-img1 {
    margin-top: -100px;
    min-height: 100%;
    background: url("../Images/background.jpg");
    
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

#header, #cursor {
    display: inline-block;
}

#cursor {
    font-size: 50px;
}

.header {
    color: black !important;
    font-size: 55px;
    display: block;
    margin-top: 40vh;
}

.learn-more-button {
    color: black;
    width: auto;
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
    cursor: pointer;
    -webkit-transition: all 0.55s;
    transition: all 0.55s;
    
    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        -webkit-transition: 0.55s;
        transition: 0.55s;
    }
    
    span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        -webkit-transition: 0.55s;
        transition: 0.55s;
    }
    
    &:hover span {
        color: black;
       padding-right: 25px;
    }
    
    &:hover span:after {
        color: black;
        opacity: 1;
        right: 0;
    }
} 

.banner {
    background: url("../Images/circuit-banner.jpg");
    height: 300px;
    
    .banner-header {
        color: white;
        margin-top:75px;
    }
    
    .banner-header-under {
        color: white;
        margin-top: 20px;
    }
}

.about {
    
    margin-top: 75px;
    
    .portfolio-photo {
        border-radius: 100%;
        box-shadow: 5px 5px 5px gray;
        display: block;
        margin: 0 auto;
        width: 30%;
    }
    
    .about-me {
        padding: 20px;
    }
}

.thumbnail-elements {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10%;
    
    hr {
        border: 0.5px solid darkgray;
    }
    
    p:nth-child(4) {
        text-align: justify;
    }
}

.segment {
    background: url("../Images/LCD.png") no-repeat;
    -moz-background-size: 70%;
    -ms-background-size: 70%;
    -o-background-size: 70%;
    background-size: 70%;
    height: 55vh;
    background-color: white !important;
}

.banner-bottom {
    margin-top: 5%;
    height: auto;
    
    h3 {
        padding-bottom: 40px;
    }
    
    p {
        text-align: justify;
    }
    
    img {
        display: block;
        margin: auto;
    }
}

.info {
    padding: 10%;
}


.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 5px;
    transition: 0.4s linear;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 16px;
    
    span {
        display: block;
        padding: 0 20px;
        height: 35px;
        line-height: 35px;
    }
}

.skillbar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
}

.skillbar-bar {
    height: 35px;
    width: 0;
    background: #FF6B2A;
    border-radius: 5px;
}

.contact-form {
    
    
    .button-submit {
        font-weight: bold;
        width: 100%;
        padding: 10px;
        background-color: #1affc6;
        border: 0px;
        border-radius: 10px;
    }
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    height: 75px;
    line-height: 45px;
}

.animate {
    animation: slideIn 1.5s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(0%);
    }
    
    100% {
        transform: translateX(15%);
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(15%);
    }
}

@media screen and (max-height: 736px) and (max-width: 414px) {
    
    .bg-img1 {
        width: 414px;
    }
    
    h1 .header {
        text-align: center;
        display: block;
        margin-top: 50%;
        font-size: 25px;
    }
    
    .segment {
        height: 20vh;
        width: 100%;
    }
}

